# LIMPIEZA DE DATOS
## En esta fase de trabajo, analizaremos el dataset que tenemos disponible y pretendemos limpiar sus datos lo máximo posible para ejercer una correcta manipulación sobre ellos.

### Primeramente realizamos la importacion de la libreria de pandas para crea el dataset segun el archivo csv que tenemos.

In [6]:
import pandas as pd

data = pd.read_csv('../data/barrios_bogota_localidades.csv')
df_barrios = pd.DataFrame(data)

df_barrios.head()

  Localidad                             UPZ                     Barrio
0   Usaquén  Paseo de los Libertadores (01)                    Canaima
1   Usaquén  Paseo de los Libertadores (01)   La Floresta de La Sabana
2   Usaquén  Paseo de los Libertadores (01)                      Torca
3   Usaquén                   Verbenal (09)        Altos de Serrezuela
4   Usaquén                   Verbenal (09)  Balcones de Vista Hermosa

- Mostramos las primeras y ultimas filas del dataset

In [7]:
primeras_filas = df_barrios.head()
ultimas_filas = df_barrios.tail()

display(primeras_filas)
display(ultimas_filas)

  Localidad                             UPZ                     Barrio
0   Usaquén  Paseo de los Libertadores (01)                    Canaima
1   Usaquén  Paseo de los Libertadores (01)   La Floresta de La Sabana
2   Usaquén  Paseo de los Libertadores (01)                      Torca
3   Usaquén                   Verbenal (09)        Altos de Serrezuela
4   Usaquén                   Verbenal (09)  Balcones de Vista Hermosa

           Localidad                 UPZ             Barrio
1998  Ciudad Bolívar  Jerusalén (UPZ 70)            Paraíso
1999  Ciudad Bolívar  Jerusalén (UPZ 70)             Potosí
2000  Ciudad Bolívar  Jerusalén (UPZ 70)      Tanque Laguna
2001  Ciudad Bolívar  Jerusalén (UPZ 70)             Verona
2002  Ciudad Bolívar  Jerusalén (UPZ 70)  Villas de Bolívar

- Verificamos el numero de filas y columnas
##### Observamos que el dataset tiene un gran volumen de datos, sin embargo, posee pocas variables a analizar.

In [8]:
tam = f"El numero de filas es : {df_barrios.shape[0]} y el numero de columnas es : {df_barrios.shape[1]}."
tam

'El numero de filas es : 2003 y el numero de columnas es : 3.'

- Obtener información general del dataset (`.info()`).
##### Observamos que no tenemos valores nulos y los datos se encuentran bien tipificados.

In [9]:
info = df_barrios.info()
info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2003 entries, 0 to 2002
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Localidad  2003 non-null   object
 1   UPZ        2003 non-null   object
 2   Barrio     2003 non-null   object
dtypes: object(3)
memory usage: 47.1+ KB

- Revisar si hay filas duplicadas y decidir qué hacer con ellas.
##### Tenemos 11 duplicados, asi que procedemos a darles tratamiento.

In [10]:
df_barrios.duplicated().sum()

np.int64(11)

##### Primeramente, confirmamos las filas duplicadas.
##### Podemos observar que, en efecto, tenemos varias filas duplicadas con la misma informacion.

In [12]:
duplicados = df_barrios[df_barrios.duplicated(keep=False)]
duplicados

         Localidad                     UPZ              Barrio
293  San Cristóbal        Los Libertadores      Villa Angélica
313  San Cristóbal        Los Libertadores      Villa Angélica
452           Usme  Parque Entrenubes (57)             Bolonia
453           Usme  Parque Entrenubes (57)   El Bosque Central
456           Usme  Parque Entrenubes (57)    La Esperanza Sur
493           Usme      Alfonso López (59)   Portal del Divino
494           Usme      Alfonso López (59)   Portal de la Vega
495           Usme      Alfonso López (59)   Portal de Oriente
497           Usme      Alfonso López (59)  El Nuevo Portal II
521           Usme           La Flora (52)          San German
524           Usme  Parque Entrenubes (57)             Bolonia
526           Usme  Parque Entrenubes (57)    La Esperanza Sur
531           Usme               UPR Rural               Fisgá
533           Usme               UPR Rural              Olarte
537           Usme      Alfonso López (59)  El Nuevo Portal II
541           Usme      Alfonso López (59)   Portal del Divino
542           Usme      Alfonso López (59)   Portal de la Vega
543           Usme      Alfonso López (59)   Portal de Oriente
576           Usme           La Flora (52)          San German
577           Usme  Parque Entrenubes (57)   El Bosque Central
586           Usme               UPR Rural              Olarte
587           Usme               UPR Rural               Fisgá

##### Procedemos a eliminar esos duplicados, ya que contienen exactamente la misma informacion.

In [13]:
df_sin_duplicados = df_barrios.drop_duplicates()

##### Confirmamos que los duplicados ya no esten ahi.

In [14]:
df_sin_duplicados.duplicated().sum()

np.int64(0)